@import "./../../variables";

$marginBottom: 10px;
$padding: 50px;

.container {
    margin-top: 40px;
    max-width: 800px;
  }
  

/********CATEGORIES***********/

.row {
  margin-bottom: $marginBottom;
}

.cats-header {
  border: 0px;
}

.cats-content {
  max-height: 200px;
  padding: $padding;
}

.cats-content {
  margin-bottom: $marginBottom;
}
.cats-link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
}

.cats .icon {
  font-size: 40px;
  color: $greyDark;
  transition: $smooth;
}

.cats .icon:hover {
  font-size: 50px;
  transition: $smooth;
}

/*******SUB-CATEGORIES********/

.cats-sub-cats {
  margin-bottom: $marginBottom;
}

.cats-sub-cats-header {
  border: none;
}

.cats-sub-cats-content {
  padding: $padding;
}

/********LOCALITIES*************/
.localities {
  margin-bottom: $marginBottom;
}

.localities-header {
  border: none;
}

.localities-content {
  padding: $padding;
}

.localities-item {
  margin-bottom: $marginBottom;
}

